@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="@Url.Content("~/js/mermaid.js")"></script>
<div class="container-fluid">
    <div class="leftColumn">
        <div>
            <img class="headerIcon" src="@Url.Content("~/images/mermaid-small.png")" alt="Mermaider" />
            <h2>Mermaidier</h2>
        </div>
        <div>
            <p class="">Enter your flowchart here...</p>
        </div>
        <div>
            <textarea id="mermaidDataEntryField" class="mermaidDataEntryField" rows="20">

        </textarea>
        </div>
        <div class="btn-toolbar">
            <input type="button" id="btnStartOver" value="Start Over" class="btn btn-danger" />
            <input type="button" id="btnRenderImage" value="Render Image" class="btn btn-success" />
            <input type="button" id="btnRefreshPreview" value="Refresh Preview" class="btn btn-primary" />
        </div>
        <details id="diagnosticsContainer" style="display: none">
            <summary>Diagnostic Information</summary>
            <textarea id="diagnosticsInfo" class="mermaidDiagnostics" rows="20">


                </textarea>
        </details>
    </div>
    <div class=" rightColumn">
        <div class="alignRight hardRight hardTop">
            <a href="http://knsv.github.io/mermaid/#flowcharts-basic-syntax5">Need help? Flowchart Syntax here</a>
        </div>
        <div id="errorsContainer" style="display: none;">
            <textarea id="errorsList" class="parseErrors" rows="10" cols="80"></textarea>
        </div>
        <div id="svgPreviewContainer" class="mermaid">
            @*Svg preview goes here*@
        </div>
        <div id="openInNewWindowImageLinkContainer" class="btn-toolbar" style="display: none">
            @*Link to open in new window goes here*@
        </div>
        <div id="renderedImageContainer" style="display: none">
            @*viewable image goes here*@)
        </div>
    </div>
</div>
<script>
    var config = {
        startOnLoad: false
    };
    mermaid.initialize(config);
</script>