@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="@Url.Content("~/js/mermaid.js")"></script>
<div>
    <div class="leftColumn">
        <div>
            <h2>Mermaidier</h2>
        </div>
        <div>
            <p class="">
                Enter your flowchart here and click "Refresh Diagram" to redraw it
            </p>
        </div>


        <div>
            <textarea id="mermaidDataEntryField" class="mermaidDataEntryField" rows="20">
graph TD
    A-->B("<b>nice</b> <i>display</i> value")
    B-->C{"with formatting?"}
    C-->|Yes|D1["html creole and others"]
    C-->|No|E2("or plain css styling")

    subgraph This
     D1-->E1("...or some other stuff")
     E1-->F1((" if you feel like it"))
    end

    subgraph Or That
     E2-->F2>"and weird shapes"]
    end 

    F1-->Z("the end")    
    F2-->Z

classDef styled fill:#f9f,stroke:#333,stroke-width:4px;

class F2 styled


        </textarea>
        </div>
        <div>
            <a href="http://knsv.github.io/mermaid/#flowcharts-basic-syntax5">Need help? Flowchart Syntax here</a>
        </div>
        <div class="btn-toolbar">
            <input type="button" value="Refresh Diagram" class="btn btn-primary" onclick="return attemptSvgRendering();" />
            <input type="button" value="Render as Image" class="btn btn-primary" onclick="return renderAsImage();" />
        </div>
        <div>
            <details id="diagnosticsContainer" style="display: none">
                <textarea id="diagnosticsInfo" class="mermaidDiagnostics" rows="20" >


            </textarea>
            </details>
        </div>
    </div>

    <div class="mermaidChartContainer rightColumn">
        <div id="mermaidPreview" class="mermaid">
            @*Svg preview goes here*@
        </div>
        <div id="mermaidImageLinkContainer" class="btn-link" style="display: none">
            @*Link to open in new window goes here*@
        </div>
        <div id="mermaidRenderedImageContainer" class="mermaidRenderedImageContainer" style="display: none">
            @*viewable image goes here*@)
        </div>
        <div id="errParse" class="validation-summary-errors"></div>
    </div>
</div>
<script>

    var mermaidInitted = false;

    function attemptSvgRendering() {

        if (mermaidInitted === false) {
            //mermaid.init({ startOnLoad: false });
            mermaid.parseError = function(err, hash) {
                $('#errParse').value(err);
            };
            mermaidInitted = true;
        }

        var graphText = $('#mermaidDataEntryField').val();
        var parseable = mermaidAPI.parse(graphText);
        if (parseable) {
            var graph = mermaid.mermaidAPI.render(graphText);
            $('#mermaidPreview').show();
            $('#mermaidImageLinkContainer').hide();
            $('#mermaidRenderedImageContainer').hide();
            $('#mermaidPreview').html(graph);
            $('#diagnosticsContainer').show();
            $('#diagnosticsInfo').val(mermaidAPI.parseError);
        } else {
            $('#diagnosticsContainer').show();
            $('#errParse').value(mermaidAPI.parseError);
        }
    }

    function renderAsImage() {

        var graphText = $('#mermaidDataEntryField').val();

        $.ajax({
            url: '@Url.Action("RenderAsPng", "LiveEditor")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: { graphText: graphText },
            success: function(renderResult) {

                if (renderResult.isSuccessful) {
                    var link = '<a href="' + renderResult.imagePath + '" target="_blank">Open in new window</a>';
                    var imageLink = '<img src="' + renderResult.imagePath + '" class="mermaidRenderedImageContainerImage" alt="ShouldBeImage" />';

                    $('#mermaidPreview').hide();
                    $('#mermaidImageLinkContainer').show();
                    $('#mermaidRenderedImageContainer').show();

                    $('#mermaidImageLinkContainer').html(link);
                    $('#mermaidRenderedImageContainer').html(imageLink);
                    $('#diagnosticsContainer').show();
                    $('#diagnosticsInfo').val(renderResult.diagnostics.join('\n'));
                } else {
                    $('#errParse').value(renderResult.errors.join('\n'));
                }

            }
        });
    }

</script>