body {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: #d1e4e4;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-family: 'Sofia', cursive;
    margin: auto;
}

.headerIcon {
    height: 60px;
    float: right;
    padding-right: 20px
}

.instructional {
    margin: auto;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.controlContainer {
    background-color: aquamarine;
    border-radius: 5%;
    overflow: auto;
    padding-bottom: 10px;
    -moz-box-shadow: 4px 6px 1px 3px #4eaad6;
    -webkit-box-shadow: 4px 6px 1px 3px #4eaad6;
    box-shadow: 4px 6px 1px 3px #4eaad6;
}

    .controlContainer div {
        max-width: 95%;
        min-width: 95%;
        margin: 0 auto;
    }

.errorsContainer .parseErrors {
    color: #b94a48;
}

.mermaidDataEntryField {
    display: block;
    background-color: #e6efee;
    max-width: 100%;
    min-width: 100%;
    padding: 10px 0 10px 0;
}

.mermaidDiagnostics {
    background-color: #e6efee;
    max-width: 100%;
    min-width: 100%;
    padding: 10px 0 10px 0;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    max-height: 100%;
    min-height: 30%;
}

#previewButtons {
    min-width: inherit;
    padding-right: 20px;
}

    

.mermaidRenderedImageContainerImage {
    margin: auto;
    display: block;
    max-height: 1200px;
}


.undoMargin {
    margin: 0;
}

.padTop10 div {
    padding-top: 10px;
}

.leftColumn {
    float: left;
    max-width: 48%;
    min-width: 30%;
}

    .leftColumn div {
        padding-top: 10px;
    }

    .leftColumn details {
        padding-top: 60px;
    }

.rightColumn {
    float: none;
    min-width: 48%;
    max-width: 80%;
    padding: 40px 0 0 25px;
    overflow: auto;
}

    .rightColumn div {
        max-width: 95%;
        min-width: 95%;
        margin: 0 auto;
    }

.alignRight {
    text-align: right;
}

.hardRight {
    position: absolute;
    right: 10px;
}

.hardTop {
    position: absolute;
    top: 10px;
}

.alignLeft {
    text-align: left;
}

.btn-toolbar {
    float: right;
}

    .btn-toolbar .btn {
        float: none;
    }
